      body {
        /*padding: 50px;*/
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color:inherit;
      }

/*for formatting purposes*/

.test-border {
  border: solid;
  border-width: 1px;
  border-color: red;
}

.guest {
  position: relative;

}


.border{
  border: solid;
  border-width: 1px;
  border-color: red;
}

.userLocation {
  height:400px;
  width:auto;
}
.btn-width {
  width:300px;
}



/*not sure what page test relates to*/
/*TEST*/
