body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:inherit;
}

.btn-width {
  width:300px;
}

.spacer {
  height:150px;
}
.border {
  border: solid;
  border-width: 2px;
  border-color: darkblue;
  border-radius: 20px;
  margin: 10px;
}

/*will want to -
1 tweak background to transparent
2 add a gentle border to each box
*/
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;

}

div.scrollmenu div {
    display: inline-block;
    color: darkblue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
