body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:inherit;
}

.spacer {
  height:150px;
}
.border {
  border: solid;
  border-width: 2px;
  border-color: darkblue;
  border-radius: 20px;
  margin: 10px;
}

div.scrollmenu {
  background-image: url('../images/sky.jpg');
  overflow: auto;
  white-space: nowrap;
  margin: 0 100px;
  border: 10px solid #000;
}

div.scrollmenu .userLocation {
  display: inline-block;
  background: #eee;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.xxx {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.xxx canvas {
  height: 150px;
  width: 150px;
  text-align: center;
}

.location-info-main {
  margin: 0 10%;
}
.location-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.btn-group .delete-btn, .btn-group .edit-btn {
  background: #fff;
  width: 80px;
}

.btn-group .edit-btn {
  margin: 10px;
}

.btn-group .edit-btn:hover {
  background: #fff;
  border: 1px solid #026600;
}

.btn-group .delete-btn:hover {
  background: #fff;
  border: 1px solid #9e0000;
}

canvas {
  margin: 20px auto;
}
