.backToMain {
  margin: 50px;
}

.col-md-4 {

}

.row .col-md-4 {

}

.container .row .col-md-4 {

}

.jImage {
  background-image:url(../images/grandCanyonbg.jpg);
  height: 55%;
  background-position: center;
  opacity:0.7;

}
